<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lyj.core">

    <application>
        <activity android:name="cn.lyj.core.person.HousePersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.house.HouseListActivity" />
        <activity android:name="cn.lyj.core.house.RentHouseListActivity" />
        <activity android:name="cn.lyj.core.place.UnSocialPlaceListActivity" />
        <activity android:name="cn.lyj.core.place.SocialPlaceListActivity" />
        <activity android:name="cn.lyj.core.log.LogListActivity" />
        <activity android:name="cn.lyj.core.chart.ChartActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".person.HousePersonListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".house.HouseListActivity" />
        <activity android:name=".house.RentHouseListActivity" />
        <activity android:name=".place.UnSocialPlaceListActivity" />
        <activity android:name=".place.SocialPlaceListActivity" />
        <activity android:name=".log.LogListActivity" />
        <activity android:name="cn.lyj.work.LoginActivity" />
        <activity android:name=".person.TransientPersonListActivity" />
        <activity android:name=".log.UpdateLogActivity" />
    </application>

</manifest>