<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lyj.core">

    <application>
        <activity android:name="cn.lyj.core.person.HousePersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.HIVPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.DrugPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.ZsZhPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.SqjzPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.XmsfPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.YxgjPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.XjPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.JwPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.CzPersonListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.UpdateXjPersonActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="cn.lyj.core.person.UpdateYxgjPersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.UpdateXmsfPersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.UpdateSqjzPersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.UpdateZszhPersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.UpdateDrugPersonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyj.core.person.UpdateHIVPersonActivity"
            android:screenOrientation="portrait"/>



        <activity android:name="cn.lyj.core.house.HouseListActivity" />
        <activity android:name="cn.lyj.core.house.RentHouseListActivity" />
        <activity android:name="cn.lyj.core.place.UnSocialPlaceListActivity" />
        <activity android:name="cn.lyj.core.place.SocialPlaceListActivity" />
        <activity android:name="cn.lyj.core.log.LogListActivity" />
        <activity android:name="cn.lyj.core.chart.ChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".person.TransientPersonListActivity" />
        <activity android:name=".log.UpdateLogActivity" />
        <activity android:name=".person.UpdateHousePersonActivity" />
        <activity android:name=".person.UpdateTranPersonActivity" />
        <activity android:name=".house.UpdateHouseActivity" />
        <activity android:name=".house.UpdateRentHouseActivity" />
        <activity android:name=".word.SendListActivity" />
        <activity android:name=".word.SendWordInfoActivty" />
        <activity android:name=".ChoicePersonActivity" />
        <activity android:name=".word.ReceivListActivity" />
        <activity android:name=".word.ReceivWordInfoActivty" />
        <activity android:name=".grid.GridListActivity" />
        <activity android:name=".grid.GridInfoActivity" />
        <activity android:name=".grid.GridmanagerListActivity" />
        <activity android:name=".place.UpdateSocialActivity" />
        <activity android:name=".place.UpdateUnsocialActivity" />
        <activity android:name=".chart.ZdpcChartActivity" />
        <activity android:name=".chart.ZaqyChartActivity" />
        <activity android:name=".chart.EvenScaleChartActivity" />
        <activity android:name=".chart.EventStateActivity" />
        <activity android:name=".chart.EventModeActivity" />
        <activity android:name=".person.UpdateCzPersonActivity" />
        <activity android:name=".person.UpdateJwPersonActivity" />
        <activity android:name=".chart.EventMonthActivity" />
        <activity android:name=".kaohe.BmKhListActivity" />
        <activity android:name=".kaohe.AppraiseListActivity" />
        <activity android:name=".kaohe.AppraiseInfoActivity" />
        <activity android:name=".vediocontrol.VControlListActivity" />

        <service android:name=".LocationService" />
    </application>

</manifest>