<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lyjj.tipoff">

    /
    <application>
        <activity android:name="cn.lyjj.tipoff.TipoffActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyjj.tipoff.TipOffInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyjj.tipoff.TipOffListActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>