<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lyjj.thepublic">

    /
    <application>
        <activity android:name="cn.lyjj.thepublic.TipoffActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyjj.thepublic.TipOffInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyjj.thepublic.TipOffListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.lyjj.thepublic.SmartTipActivity" />
    </application>
</manifest>